/* 
 * Noto Sans Korean
 */
 
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'),
  url(/assets/fonts/eot/NotoSansKR-Light-Hestia.eot),
  url(/assets/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
  url(/assets/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
  url(/assets/fonts/eot/NotoSansKR-Regular-Hestia.eot),
  url(/assets/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
  url(/assets/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
  url(/assets/fonts/eot/NotoSansKR-Medium-Hestia.eot),
  url(/assets/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
  url(/assets/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url(/assets/fonts/eot/NotoSansKR-Bold-Hestia.eot),
  url(/assets/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
  url(/assets/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}