@import url(/resources/etc/etc/notosanskr.css);
@import url(/resources/etc/etc/montserrat.css);
@import url(/resources/etc/magnific-popup.css);
body { background-color: #fff; }

* { margin: 0; padding: 0; }


article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section { display: block; }

html , body , div , span , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , address , cite , code , del , dfn , em , font , img , ins , q , s , samp , strike , strong , sub , sup , dl , dt , dd , ol , ul , li , fieldset , form , label , legend { line-height: 1.3em; border: 0 none; }

body {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: 100%; line-height: 1.3em;  position: relative; min-height: 320px; margin: 0 auto; word-break: normal; -ms-text-size-adjust: 100%; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

header , h1 { font-size: 100%; }

html , body { height: 100%; }
caption , legend {font-size: 0;  position: absolute; top: -9999px; left: -9999px; visibility: hidden; overflow: hidden; width: 0; height: 0; }

caption { display: none; }

img {vertical-align: top;  border: none; }

select , input { vertical-align: top; border: 0px; border-radius: 0; background-color: transparent; }

hr { display: none; border: 0 none; }

ol , ul , ul li { list-style: none; }

em { font-style: normal; }

menu li { list-style: none; }

address {font-style: normal;  display: inline; }

button {cursor: pointer; border: 0px; border-radius: 0; background-color: transparent;  -webkit-appearance: none; -moz-appearance: none; appearance: none; }

table {border-spacing: 0;  border-collapse: collapse; }

input , textarea , keygen , select , button { font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; }

strong { font-weight: normal; }

dfn { font-style: normal; }

i , b , u , s {font-family: inherit; font-weight: inherit;  font-style: inherit; text-decoration: none; }


a:link , a:visited , a:active , a:focus { text-decoration: none; }

a:hover { text-decoration: none; }

.is-hidden { display: none !important; }

*[hidden] { display: none !important; }

.visible-hidden { visibility: hidden !important; }

.clear { clear: both; }

.txt-center { text-align: center !important; }

.inline-block { display: inline-block; vertical-align: middle; }


fieldset { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select , input[type=checkbox] , input[type=radio] , input[type=text] , input[type=password] , input[type=submit] , input[type=email] , input[type=search] , input[type=number] , textarea {cursor: pointer; border: 0px; outline: 0;  -webkit-appearance: none; -moz-appearance: none; appearance: none; }

button {border-radius: 0;  outline: 0; }

input:-ms-input-placeholder { color: #666666 !important; }

input::-ms-input-placeholder { color: #666666 !important; }

::-ms-clear { display: none; }

::-moz-selection {color: #fff;  background: #000; }

::selection {color: #fff;  background: #000; }

textarea { resize: none; }

.longdesc { display: none; }

.amcharts-chart-div a { display: none !important; }

.spinner-with-text { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.spinner-with-text .spinner + p { font-size: rem(14); line-height: em(20, 14); position: absolute; top: calc(50% + 50px); width: 100%; text-align: center; color: #999; }











@keyframes fadeIn { from { opacity: 0; }
	to { opacity: 1; } }

@keyframes fadeIn2 { from { opacity: 0; }
	to { opacity: 1; } }

@keyframes alarm { from { transform: scale(1); }
	to { transform: scale(2); } }

@keyframes rotate { 0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); } }









span.multiselect-native-select { position: relative; }

span.multiselect-native-select select {position: absolute !important; top: 30px; left: 50%; overflow: hidden !important; clip: rect(0 0 0 0) !important; width: 1px !important; height: 1px !important; margin: -1px -1px -1px -3px !important; padding: 0 !important;  border: 0 !important; }

.multiselect-container { position: absolute; margin: 0; padding: 0; list-style-type: none; }
.multiselect-container .input-group { margin: 5px; }
.multiselect-container > li { padding: 0; }
.multiselect-container > li > a.multiselect-all label { font-weight: bold; }
.multiselect-container > li.multiselect-group label {font-weight: bold; height: 100%;  margin: 0; padding: 3px 20px 3px 20px; }
.multiselect-container > li.multiselect-group-clickable label { cursor: pointer; }
.multiselect-container > li > a { padding: 0; }
.multiselect-container > li > a > label {font-weight: normal; height: 100%;  margin: 0; padding: 3px 20px 3px 40px; cursor: pointer; }
.multiselect-container > li > a > label.radio , .multiselect-container > li > a > label.checkbox { margin: 0; }
.multiselect-container > li > a > label > input[type='checkbox'] { margin-bottom: 5px; }

.btn-group > .btn-group:nth-child(2) > .multiselect.btn { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.form-inline .multiselect-container label.checkbox , .form-inline .multiselect-container label.radio { padding: 3px 20px 3px 40px; }

.form-inline .multiselect-container li a label.checkbox input[type='checkbox'] , .form-inline .multiselect-container li a label.radio input[type='radio'] {margin-right: 0;  margin-left: -20px; }

.btn-bsp {font-size: 1.0625rem; font-weight: 700; line-height: 50px; position: static;  display: inline-block; margin: 20px 0 0 20px; vertical-align: middle; color: #000; }
.btn-bsp img { width: 50%; }

.mfp-bg.animated {transition: opacity .3s ease-out;  opacity: 0; }

.mfp-ready.mfp-bg.animated { opacity: .8; }

.mfp-removing.mfp-bg.animated { opacity: 0; }

.layout-popup {position: relative;  display: block; box-sizing: border-box; width: 500px; margin: 0 auto; padding: 44px 48px 50px 48px; border: 2px solid #000; background-color: #fff; }
.layout-popup textarea { height: 100px; }
.layout-popup .mfp-close {position: absolute; top: 50px; right: 50px;  display: block; text-indent: -9999px; }
.layout-popup .mfp-close:after {position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block;  content: ''; opacity: 0; }
.layout-popup .mfp-close:hover:after { opacity: 1; }
.layout-popup .mfp-close[disabled] { opacity: .3; }
.layout-popup .layout-popup-title {font-size: 1.25rem; font-weight: 700; line-height: 1.5em; position: relative;  display: block; padding-bottom: 18px;  color: #666; }
.layout-popup .layout-popup-title:before {position: absolute; bottom: 0; left: 0; display: block; width: 100%; height: 2px;  content: '';background-color: #666; }
.layout-popup .layout-popup-subtitle { font-size: 1rem; padding: 40px 0 0; }
.layout-popup .layout-popup-footer { margin-top: 50px; text-align: center; }
.layout-popup .layout-popup-footer .btns.top { margin-bottom: 20px; }
.layout-popup .layout-popup-footer .btns.top .button-normal { display: block; margin: 0; }
.layout-popup .layout-popup-footer .btns.top .button-normal.report-save {font-size: 1rem; width: 100%; border-color: #0051c1;  background-color: #0051c1; }
.layout-popup .layout-popup-footer .btns .button-normal {min-width: 200px;  margin: 0 9px; }
.layout-popup .layout-popup-footer .btns.multiple { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }
.layout-popup .layout-popup-footer .btns.multiple .button-normal , .layout-popup .layout-popup-footer .btns.multiple .wrap-button { display: inline-block; min-width: 190px; margin: 0; }
.layout-popup .layout-popup-footer .btns.multiple .wrap-button {display: -ms-flexbox; display: flex;  min-width: 290px; -ms-flex-pack: inherit; justify-content: inherit; }
.layout-popup .layout-popup-footer .btns.multiple .wrap-button .button-normal { min-width: 140px; }
.layout-popup .layout-popup-footer .btns.multiple.center { -ms-flex-pack: center; justify-content: center; }
.layout-popup .layout-popup-footer .btns.multiple.center .button-normal { margin: 0 10px; }

.layout-popup .layout-popup-contents .layout-popup-confirm {font-size: 1rem; line-height: 1.5em; min-height: 100px;  margin-top: 37px; color: #000; }
.layout-popup .layout-popup-contents .layout-popup-message {font-size: 1rem; line-height: 1.5em;  margin-top: 37px; color: #000; }
.layout-popup .layout-popup-contents .layout-popup-message[data-state=invalid] { color: #ff4309; }
.layout-popup .layout-popup-contents .layout-popup-message strong { font-weight: 400; color: #1886ff; }
.layout-popup .layout-popup-contents .layout-popup-message.mobile { display: none; }

.layout-popup .layout-popup-contents .tbl-list-account-scroll { overflow: scroll; overflow-x: hidden; max-height: 215px; margin-top: 30px; border-top: 2px solid #000; border-bottom: 2px solid #000; }
.layout-popup .layout-popup-contents .tbl-list-account { width: 100%; }
.layout-popup .layout-popup-contents .tbl-list-account thead tr th {font-size: .75rem; font-weight: 700; line-height: 2.91667em;  padding-left: 15px; color: #000; }
.layout-popup .layout-popup-contents .tbl-list-account tbody tr th , .layout-popup .layout-popup-contents .tbl-list-account tbody tr td {font-size: .75rem; font-weight: 400; line-height: 2.91667em;  padding-left: 15px; color: #333; border-top: 1px solid #d6d6d6; }

.forms-item { margin-top: 33px; }
.forms-item .caution { font-size: .75rem; line-height: 1.5em; margin: 6px 0 0; color: #4a90e2; }
.forms-item .checkbox_wrap {box-sizing: border-box; margin: 8px 0 0;  padding: 15px; padding-bottom: 9px; border: 1px solid #d9d9d9; background: #ebebeb; }
.forms-item .checkbox_wrap a , .forms-item .checkbox_wrap label { color: #666; }
.forms-item .label {font-size: .75rem;  display: block; margin-bottom: 6px; color: #9b9b9b; }
.forms-item .label em {margin: 0 0 0 3px;  color: #1886ff; }
.forms-item .label .lang-message { font-size: .75rem; line-height: 1.5em; margin: 5px 0 0; color: #666; }
.forms-item .txt {font-size: .875rem; font-weight: 500; line-height: 39px;  display: block; color: #000; border-bottom: 1px solid #e6e6e6; }
.forms-item .txt[disabled] { color: #ccc; }
.forms-item .txt-guide {font-size: .75rem; font-weight: 400; line-height: 1.5em;  display: block; margin-top: 5px; text-align: right; color: #666; }
.forms-item .txt-guide.left { text-align: left; }
.forms-item .inline-txt {font-size: .875rem; font-weight: 500;  display: inline-block; color: #000; }
.forms-item .button-normal[data-size=small] { position: absolute; top: 50%; right: 10px; margin-top: -15px; }
.forms-item .list-agreement > li + li { margin-top: 9px; }
.forms-item .line-break { margin-top: 15px; }
.forms-item .multiselect-native-select { width: 100%; }
.forms-item.multi-box { display: -ms-flexbox; display: flex; }
.forms-item.multi-box .multi-box-item { display: inline-block; margin-left: 12px; }
.forms-item.multi-box .multi-box-item:first-child { margin: 0; }


body[data-state=logout] .forms .phone-number { position: relative; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }
body[data-state=logout] .forms .phone-number .multiselect-native-select { width: calc(40% - 10px); }
body[data-state=logout] .forms .phone-number > input { width: 60%; margin-left: 10px; }
body[data-state=logout] b.search_form {position: relative;  display: inline-block; box-sizing: border-box; vertical-align: middle; background: url('../images/view_magnify_lightblue_zoom_type.svg') center center no-repeat transparent; }
body[data-state=logout] b.search_form input[type='search'] {font-size: .75rem; line-height: 30px; position: relative; bottom: 1px; box-sizing: border-box; width: 200px; height: 30px; padding: 0 .6em; padding-right: 35px; resize: none; transition: box-shadow .2s ease-in-out;  border: 1px solid #e4e4e4; background: #fff; box-shadow: none; }
body[data-state=logout] b.search_form input[type='search']:focus { border-color: #006cff; }
body[data-state=logout] b.search_form button[type='submit'] {position: absolute; top: 4px; left: 170px; display: inline-block; width: 30px; height: 24px; text-indent: -999em;  border-left: 1px solid #dedede; background: url('../images/view_magnify_lightgray_search_type.svg') center center no-repeat; background-size: 15px; }
body[data-state=logout] b.search_form input[type='search']:focus + button[type='submit'] {border-color: #006cff;  background-image: url('../images/view_magnify_lightblue_search_type.svg'); }
body[data-state=logout] input[type=text] , body[data-state=logout] input[type=password] , body[data-state=logout] input[type=email] , body[data-state=logout] input[type=number] , body[data-state=logout] input[type=search] , body[data-state=logout] select { resize: none; transition: box-shadow .2s ease-in-out; }
body[data-state=logout] input[type=text]:focus , body[data-state=logout] input[type=password]:focus , body[data-state=logout] input[type=email]:focus , body[data-state=logout] input[type=number]:focus , body[data-state=logout] input[type=search]:focus , body[data-state=logout] select:focus {background-color: #fff;  box-shadow: inset 0 0 0 2px #007aff; }
body[data-state=logout] input[type=text][invalid] , body[data-state=logout] input[type=password][invalid] , body[data-state=logout] input[type=email][invalid] , body[data-state=logout] input[type=number][invalid] , body[data-state=logout] input[type=search][invalid] , body[data-state=logout] select[invalid] {background-color: #fff;  box-shadow: inset 0 0 0 2px #ff2d47; }
body[data-state=logout] input[type=text].small:focus , body[data-state=logout] input[type=password].small:focus , body[data-state=logout] input[type=email].small:focus , body[data-state=logout] input[type=number].small:focus , body[data-state=logout] input[type=search].small:focus , body[data-state=logout] select.small:focus {background-color: #fff;  box-shadow: inset 0 0 0 1px #007aff; }
body[data-state=logout] input[type=text].small[invalid] , body[data-state=logout] input[type=password].small[invalid] , body[data-state=logout] input[type=email].small[invalid] , body[data-state=logout] input[type=number].small[invalid] , body[data-state=logout] input[type=search].small[invalid] , body[data-state=logout] select.small[invalid] {background-color: #fff;  box-shadow: inset 0 0 0 1px #ff2d47; }
body[data-state=logout] input[type=text][readonly]:focus , body[data-state=logout] input[type=password][readonly]:focus , body[data-state=logout] input[type=email][readonly]:focus , body[data-state=logout] input[type=number][readonly]:focus , body[data-state=logout] input[type=search][readonly]:focus , body[data-state=logout] select[readonly]:focus { box-shadow: inset 0 0 0 2px #e6e6e6; }
body[data-state=logout] input[type=text][data-state=expand] , body[data-state=logout] input[type=password][data-state=expand] , body[data-state=logout] input[type=email][data-state=expand] , body[data-state=logout] input[type=number][data-state=expand] , body[data-state=logout] input[type=search][data-state=expand] , body[data-state=logout] select[data-state=expand] { width: 100%; }
body[data-state=logout] input::-webkit-input-placeholder { color: #ccc; }
body[data-state=logout] input:-moz-placeholder {opacity: 1;  color: #ccc; }
body[data-state=logout] input::-moz-placeholder {opacity: 1;  color: #ccc; }
body[data-state=logout] input:-ms-input-placeholder { color: #ccc; }
body[data-state=logout] span:focus {outline: 0px;  box-shadow: 0px; }
body[data-state=logout] input[type=text] , body[data-state=logout] input[type=password] , body[data-state=logout] input[type=search] , body[data-state=logout] input[type=email] , body[data-state=logout] input[type=number] , body[data-state=logout] select {font-size: .875rem; font-weight: 100; line-height: 38px; display: block; box-sizing: border-box; width: 100%; height: 40px; padding: 0 0px 0 10px;  cursor: text; vertical-align: middle; color: #000; background-color: #f2f2f2; box-shadow: inset 0 0 0 0px #e4e4e4; }
body[data-state=logout] input[type=text][disabled] , body[data-state=logout] input[type=password][disabled] , body[data-state=logout] input[type=search][disabled] , body[data-state=logout] input[type=email][disabled] , body[data-state=logout] input[type=number][disabled] , body[data-state=logout] select[disabled] { color: #999; background-color: #eee; box-shadow: inset 0 0 0 1px #e4e4e4; }
body[data-state=logout] input[type=text][invalid] , body[data-state=logout] input[type=password][invalid] , body[data-state=logout] input[type=search][invalid] , body[data-state=logout] input[type=email][invalid] , body[data-state=logout] input[type=number][invalid] , body[data-state=logout] select[invalid] { box-shadow: inset 0 0 0 2px #ff2d47; }
body[data-state=logout] input[type=text].inline , body[data-state=logout] input[type=password].inline , body[data-state=logout] input[type=search].inline , body[data-state=logout] input[type=email].inline , body[data-state=logout] input[type=number].inline , body[data-state=logout] select.inline { display: inline-block; }
body[data-state=logout] input[type=text].small , body[data-state=logout] input[type=password].small , body[data-state=logout] input[type=search].small , body[data-state=logout] input[type=email].small , body[data-state=logout] input[type=number].small , body[data-state=logout] select.small {font-size: .75rem; line-height: 24px;  display: inline-block; width: auto; height: 24px; }
body[data-state=logout] input[type=text].daterange , body[data-state=logout] input[type=password].daterange , body[data-state=logout] input[type=search].daterange , body[data-state=logout] input[type=email].daterange , body[data-state=logout] input[type=number].daterange , body[data-state=logout] select.daterange {font-family: 'Montserrat', 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: .875rem; font-weight: 700; line-height: 24px;  display: inline-block; height: 24px; padding: 0 15px 0 10px; vertical-align: middle; color: #000; background-color: transparent; box-shadow: none; }
body[data-state=logout] input[type=number]::-webkit-inner-spin-button , body[data-state=logout] input[type=number]::-webkit-outer-spin-button {margin: 0;  -webkit-appearance: none; appearance: none; }
body[data-state=logout] .invalid-message {font-size: .875rem;  margin-top: 4px; color: #ff2d47; }
body[data-state=logout] .invalid-message.top-margin { margin-top: 10px; }
body[data-state=logout] .inner input[type=text] , body[data-state=logout] .inner input[type=password] , body[data-state=logout] .inner input[type=search] , body[data-state=logout] .inner input[type=email] , body[data-state=logout] .inner input[type=number] , body[data-state=logout] .inner select { background-color: #fff; box-shadow: inset 0 0 0 1px #e4e4e4; }
body[data-state=logout] .inner input[type=text][disabled] , body[data-state=logout] .inner input[type=password][disabled] , body[data-state=logout] .inner input[type=search][disabled] , body[data-state=logout] .inner input[type=email][disabled] , body[data-state=logout] .inner input[type=number][disabled] , body[data-state=logout] .inner select[disabled] { color: #999; background-color: #eee; box-shadow: inset 0 0 0 1px #e4e4e4; }
body[data-state=logout] .inner input[type=text].inline , body[data-state=logout] .inner input[type=password].inline , body[data-state=logout] .inner input[type=search].inline , body[data-state=logout] .inner input[type=email].inline , body[data-state=logout] .inner input[type=number].inline , body[data-state=logout] .inner select.inline { display: inline-block; }
body[data-state=logout] .inner input[type=text]:focus , body[dataforms-item-state=logout] .inner input[type=password]:focus , body[data-state=logout] .inner input[type=search]:focus , body[data-state=logout] .inner input[type=email]:focus , body[data-state=logout] .inner input[type=number]:focus , body[data-state=logout] .inner select:focus {background-color: #fff;  box-shadow: inset 0 0 0 2px #007aff; }
body[data-state=logout] .inner input[type=text][invalid] , body[data-state=logout] .inner input[type=password][invalid] , body[data-state=logout] .inner input[type=search][invalid] , body[data-state=logout] .inner input[type=email][invalid] , body[data-state=logout] .inner input[type=number][invalid] , body[data-state=logout] .inner select[invalid] {background-color: #fff;  box-shadow: inset 0 0 0 2px #ff2d47; }
body[data-state=logout] .inner input[type=text].small:focus , body[data-state=logout] .inner input[type=password].small:focus , body[data-state=logout] .inner input[type=search].small:focus , body[data-state=logout] .inner input[type=email].small:focus , body[data-state=logout] .inner input[type=number].small:focus , body[data-state=logout] .inner select.small:focus {background-color: #fff;  box-shadow: inset 0 0 0 1px #007aff; }
body[data-state=logout] .inner input[type=text].small[invalid] , body[data-state=logout] .inner input[type=password].small[invalid] , body[data-state=logout] .inner input[type=search].small[invalid] , body[data-state=logout] .inner input[type=email].small[invalid] , body[data-state=logout] .inner input[type=number].small[invalid] , body[data-state=logout] .inner select.small[invalid] {background-color: #fff;  box-shadow: inset 0 0 0 1px #ff2d47; }
body[data-state=logout] .inner input[type=text][readonly]:focus , body[data-state=logout] .inner input[type=password][readonly]:focus , body[data-state=logout] .inner input[type=search][readonly]:focus , body[data-state=logout] .inner input[type=email][readonly]:focus , body[data-state=logout] .inner input[type=number][readonly]:focus , body[data-state=logout] .inner select[readonly]:focus { box-shadow: inset 0 0 0 2px #e6e6e6; }
body[data-state=logout] .password-validation-inner { display: block; box-sizing: border-box; margin-top: 5px; padding: 0px 0 5px 15px; background-color: rgba(216, 216, 216, .3); }
body[data-state=logout] .password-validation-inner em {font-size: .875rem; font-weight: 500; line-height: 1.42857em;  display: inline-block; margin-top: 5px; margin-right: 15px; color: #666; }
body[data-state=logout] .password-validation-inner em:before {display: inline-block; width: 16px; height: 16px; margin: -2px 5px 0 0;  content: ''; vertical-align: middle; background: url('../images/@export/icon_check_03@2x.png') no-repeat; background-size: 100% 100%; }
body[data-state=logout] .password-validation-inner em[data-state=valid]:before { background: url('../images/@export/icon_check_03_checked@2x.png') no-repeat; background-size: 100% 100%; }
body[data-state=logout] .password-validation { display: block; box-sizing: border-box; margin-top: 5px; padding: 0px 0 5px 0px; background: none; }
body[data-state=logout] .password-validation em {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: .75rem; font-weight: 400; line-height: 1.42857em;  display: inline-block; margin-top: 5px; margin-right: 10px; color: #888; }
body[data-state=logout] .password-validation em:before {display: inline-block; width: 16px; height: 16px; margin: -2px 5px 0 0;  content: ''; vertical-align: middle; background: url('../images/@export/icon_check_06@2x.png') no-repeat; background-size: 100% 100%; }
body[data-state=logout] .password-validation em.error:before {display: inline-block; margin: -2px 5px 0 0;  content: ''; vertical-align: middle; background: url('../images/@export/icon_check_error@2x.png') no-repeat; }
body[data-state=logout] .password-validation em[data-state=valid]:before { background: url('../images/@export/icon_check_06_checked@2x.png') no-repeat; background-size: 100% 100%; }
body[data-state=logout] .password-container {position: absolute; top: 0; bottom: 0;  display: -ms-flexbox; display: flex; width: 100%; min-height: 900px; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }
body[data-state=logout] .password-container .login-limit { display: block; width: 430px; }
body[data-state=logout] .password-container .login-limit h1 { font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: 1.875rem; font-weight: 400; line-height: 2.75rem; text-align: center; letter-spacing: -.2px; word-wrap: break-word; word-break: keep-all; color: #000; }
body[data-state=logout] .password-container .login-limit .desc {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.75rem;  display: block; text-align: center; word-wrap: break-word; word-break: keep-all; color: #222; }
body[data-state=logout] .password-container .login-limit .desc:before {display: block; width: 239px; height: 109px; margin: 35px auto;  content: ''; background: url('../images/@export/icon_login_limit@2x.png') no-repeat; background-size: 100% 100%; }
body[data-state=logout] .password-container .login-limit .btns { margin-top: 50px; }
body[data-state=logout] .password-container .update-password { width: 700px; }
body[data-state=logout] .password-container .update-password .update-password-title { font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: 1.875rem; font-weight: 400; line-height: 2.75rem; text-align: center; color: #000; }
body[data-state=logout] .password-container .update-password .update-password-form { padding: 0px 145px 35px 145px; }
body[data-state=logout] .password-container .update-password .update-password-form .title { font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.75rem; text-align: center; letter-spacing: -.2px; word-wrap: break-word; word-break: keep-all; color: #222; }
body[data-state=logout] .password-container .update-password .update-password-form .title strong { color: #ff2d47; }
body[data-state=logout] .password-container .update-password .update-password-form .title ~ .desc { margin-top: 15px; word-wrap: break-word; word-break: keep-all; }
body[data-state=logout] .password-container .update-password .update-password-form .desc {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.75rem;  display: block; margin: 0 0 30px 0; text-align: center; color: #222; }
body[data-state=logout] .password-container .update-password .update-password-form .forms-item { margin-top: 0px; }
body[data-state=logout] .password-container .update-password .update-password-form .forms-item ~ .forms-item { margin-top: 15px; }
body[data-state=logout] .password-container .update-password .update-password-form .forms-item .invalid-message {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: .75rem; font-weight: 400; line-height: 1.125rem;  margin-top: 5px; padding: 0px; color: #ff4e21; }
body[data-state=logout] .password-container .update-password .update-password-form .forms-item .invalid-message.box {padding: 7px; color: #ff2d47;  border-radius: 4px; background: #ffeaec; }
body[data-state=logout] .password-container .update-password .update-password-form .invalid-message {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif; font-size: .75rem; font-weight: 400; line-height: 1.125rem;  margin-top: 15px; padding: 0px; color: #ff4e21; }
body[data-state=logout] .password-container .update-password .update-password-form .invalid-message.box {padding: 7px; color: #ff2d47;  border-radius: 4px; background: #ffeaec; }
body[data-state=logout] .password-container .update-password .update-password-form .invalid-message + .password-validation { margin-top: 10px; }
body[data-state=logout] .password-container .update-password .update-password-form .btns { margin-top: 30px; }
body[data-state=logout] .password-container .update-password .list-guide { margin: 25px auto 40px; padding: 14px; border: solid 1px #e6e6e6; }
body[data-state=logout] .password-container .update-password .list-guide > li {font-size: .75rem; font-weight: 400; line-height: 1.66667em;  position: relative; padding: 0 0 0 10px; color: #666; }
body[data-state=logout] .password-container .update-password .list-guide > li:before {line-height: .75rem; position: absolute; top: 4px; left: 0; display: -ms-flexbox; display: flex; height: .75rem;  content: '-'; -ms-flex-line-pack: center; align-content: center; }
body[data-state=logout] .password-container .btns { display: -ms-flexbox; display: flex; overflow: hidden; margin-top: 20px; -ms-flex-align: stretch; align-items: stretch; -ms-flex-pack: center; justify-content: center; }
body[data-state=logout] .password-container .btns button {font-family: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif;  display: block; box-sizing: border-box; width: 100%; min-width: 200px; text-align: center; color: #fff; border: 1px solid #000; background-color: #000; }
body[data-state=logout] .password-container .btns button.small {width: 120px;  min-width: 50px; }
body[data-state=logout] .password-container .btns button.small + button { margin-left: 10px; }
body[data-state=logout] .password-container .btns button[disabled] { color: #bfbfbf; border: 2px solid #ccc; background-color: #d4d4d4; }
body[data-state=logout] .password-container .btns button[data-state=cancel] { border: 1px solid #505050; background-color: #606060; }
body[data-state=logout] .password-container .btns button + button { margin-left: 10px; }

.button-normal {font-size: .875rem; font-weight: 700; line-height: 36px;  display: inline-block; box-sizing: border-box; min-width: 100px; height: 40px; padding: 0 15px; transition: color .3s ease-in-out; text-align: center; color: #fff; border: 2px solid #303030; border-radius:4px;background-color: #303030; }
.button-normal:hover { color: rgba(255, 255, 255, .6); }
.button-normal:hover:before { opacity: .6; }
.button-normal[disabled] { color: rgba(255, 255, 255, .3); border: 2px solid #747474; background-color: #747474; }
.button-normal[data-size=large] {font-size: 1rem; line-height: 44px;  height: 50px; }
.button-normal[data-size=small] {font-size: .75rem; line-height: 24px; min-width: 50px; height: 30px;  padding-right: 10px; padding-left: 10px; }
.button-normal[data-state=etc] { font-size: .875rem; font-weight: 400; line-height: 38px; color: #666; border: 1px solid #ddd; background-color: #fff; }
.button-normal[data-state=bold] { font-size: .875rem; font-weight: 600; line-height: 36px; color: #000; border: 2px solid #000; background-color: #fff; }
.button-normal[data-state=submit] { border: 2px solid #1886ff; background-color: #1886ff; }
.button-normal[data-state=submit][disabled] { border: 2px solid #8fc6fe; background-color: #8fc6fe; }


.idp.center { text-align: center; }

.idp .button {font-family: inherit; font-weight: 400; line-height: 1.1; display: inline-block; overflow: hidden; box-sizing: border-box; box-sizing: border-box; padding-top: 15px; padding-bottom: 15px; cursor: pointer;  transition: background-color .3s ease, border-color .3s ease; text-align: center; border: 0; border-width: 1px; border-style: solid; border-radius: 0; border-radius: 4px; outline: 0; background: transparent; -moz-appearance: none; appearance: none; -webkit-appearance: none; }
.idp .button:hover { transition: background-color .3s ease, border-color .3s ease; }
.idp .button:hover { transition: background-color .3s ease, border-color .3s ease; }
.idp .button:hover:hover { transition: background-color .3s ease, border-color .3s ease; }
.idp .button[disabled] { opacity: .4; }
.idp .button[disabled].line.white {color: #fff;  border-color: #fff; background: none !important; }
.idp .button[disabled].line.blue {color: #e6e6e6;  border-color: #e6e6e6; background: none !important; }
.idp .button[disabled].line.green {color: #e6e6e6;  border-color: #e6e6e6; background: none !important; }
.idp .button[disabled].default.blue {color: #fff;  border-color: #1865f2; background: #1865f2; }
.idp .button[disabled].default.blue:hover {color: #fff;  border-color: #1865f2; background: #1865f2; }
.idp .button[disabled].default.green {color: #fff;  border-color: #0acd7f; background: #0acd7f; }
.idp .button[disabled].default.green:hover {color: #fff;  border-color: #0acd7f; background: #0acd7f; }
.idp .button[disabled].default.white {color: #0acd7f;  border-color: #0acd7f; background: #fff; }
.idp .button[disabled].default.white:hover {color: #0acd7f;  border-color: #0acd7f; background: #fff; }
.idp .button.light { font-weight: 300; }
.idp .button.regular { font-weight: 400; }
.idp .button.medium { font-weight: 500; }
.idp .button.bold { font-weight: 700; }
.idp .button.line.white {position: relative; overflow: hidden; color: #fff;  border-color: #fff; background: none; }
.idp .button.line.white:hover { color: #0acd7f; background: #fff; }
.idp .button.line.blue {color: #1865f2;  border-color: #1865f2; background: none; }
.idp .button.line.blue:hover {color: #1865f2;  border-color: #1865f2; background: #b7d0ff; }
.idp .button.line.green {color: #0acd7f;  border-color: #0acd7f; background: none; }
.idp .button.line.green:hover {color: #05b277;  border-color: #0acd7f; background: #c4f4e1; }
.idp .button.default.blue {color: #fff;  border-color: #1865f2; background: #1865f2; }
.idp .button.default.blue:hover {color: #fff;  border-color: #0a48ba; background: #0a48ba; }
.idp .button.default.green {color: #fff;  border-color: #0acd7f; background: #0acd7f; }
.idp .button.default.green:hover {color: #fff;  border-color: #05b277; background: #05b277; }
.idp .button.default.white {color: #0acd7f;  border-color: #0acd7f; background: #fff; }
.idp .button.default.white:hover {color: #0acd7f;  border-color: #0acd7f; background: rgba(255, 255, 255, .7); }
.idp .button.small {font-size: .75rem;  line-height: 16px; padding: 2px 9px; white-space: nowrap; }
.idp .button.middle {font-size: .875rem; line-height: 18px;  height: 34px; padding: 8px 30px; }
.idp .button.large {font-size: .875rem;  line-height: 18px; padding: 12px 28px; }
.idp .button.big {font-size: 1.125rem;  line-height: 21px; padding: 14px 34px; }

.multiselect-native-select {position: absolute; top: 0; right: 0; bottom: 0; left: 0;  display: inline-block; vertical-align: top; }
.multiselect-native-select select[invalid] + .btn-group .multiselect { box-shadow: inset 0 0 0 2px #ff2d47; }
.multiselect-native-select select[data-state=optionDefault] + .btn-group .multiselect { white-space: inherit; }
.multiselect-native-select select[data-state=optionDefault] + .btn-group .dropdown-menu > li > a > label { font-size: .875rem; line-height: inherit; height: inherit; margin: 0; padding: 5.5px 0; -ms-flex: 1; flex: 1; }
.multiselect-native-select .btn-group {position: relative; top: 0; right: 0; bottom: 0; left: 0;  display: block; }
.multiselect-native-select .btn-group .multiselect { display: block; overflow: hidden; box-sizing: border-box; width: 100%; max-width: 120px; height: 100%; padding-right: 20px; white-space: nowrap; text-overflow: ellipsis; }
.multiselect-native-select .btn-group .multiselect:after {position: absolute; top: 50%; right: 0; display: block; width: 30px; height: 40px; margin-top: -20px;  content: ''; transition: transform .3s ease-in-out; transform: rotateX(0deg); background: url('../images/selectbox_arrow_02@2x.png') left top no-repeat; background-size: 30px 40px; }
.multiselect-native-select .btn-group .multiselect:focus { box-shadow: inset 0 0 0 2px #007aff; }
.multiselect-native-select .btn-group .multiselect.disabled { opacity: .3; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu {position: absolute; z-index: 1; top: 100%; right: 0; left: 0;  display: none; float: left; box-sizing: border-box; min-width: 200px; padding: 1px; border: 1px solid #ddd; border-radius: 0px 0px 2px 2px; background-color: #fff; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu .input-group { margin: 0; padding: 0 10px; border-bottom: 1px solid #e7e7e7; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu .input-group .multiselect-search {width: 100%;  padding-left: 20px; background: url('../images/icon_search_01_s@2x.png') left center no-repeat; background-size: 14px 14px; box-shadow: none; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu .input-group .multiselect-search:focus { background-image: url('../images/icon_search_01_s_focus@2x.png'); }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li { padding: 0; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li > a {position: relative;  display: block; padding: 0px 10px; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li > a:focus { outline: 0; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li > a:hover { background-color: #e6e6e6; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li .checkbox {font-size: .875rem; font-weight: 500; line-height: 15px; position: relative; left: 0px;  display: block; width: auto; max-width: 100%; height: 15px; margin: 0; padding: 8px 0px 7px 35px; cursor: pointer; white-space: nowrap; color: #000; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li .checkbox input[type=checkbox] {visibility: hidden;  opacity: 0; }
.multiselect-native-select .btn-group .multiselect-container.dropdown-menu > li.active .checkbox:after {transition: opacity .3s ease-in-out;  opacity: 1; }
.multiselect-native-select .btn-group.open .multiselect:after { transform: rotateX(180deg); }
.multiselect-native-select .btn-group.open .dropdown-menu { display: block; }
.multiselect-native-select .btn-group.small { display: inline-block; }
.multiselect-native-select .btn-group.small .multiselect {font-size: .75rem; font-weight: 500; line-height: 24px; position: relative;  display: inline-block; width: auto; height: 24px; padding: 0 30px 0 8px; text-indent: 0; color: #000; border: 0px; background: #e6e6e6 url('../images/selectbox_arrow_02@2x.png') right center no-repeat; background-size: 30px 40px; }
.multiselect-native-select .btn-group.small .multiselect-container.dropdown-menu > li > a > label { padding-left: 0; }
.multiselect-native-select .btn-group.small .multiselect-container.dropdown-menu > li.active > a { background-color: #e6e6e6; }


.btn-group.country-code { display: inline-block; width: 100%; max-width: 100%; vertical-align: middle; }
.btn-group.country-code .multiselect {font-size: .875rem; font-weight: 500; line-height: 38px;  display: inline-block; box-sizing: border-box; width: 100%; max-width: 100%; height: 40px; padding: 0 35px 0 10px; text-align: left; vertical-align: middle; color: #000; background-color: #fff; box-shadow: inset 0 0 0 1px #e4e4e4; }
.btn-group.country-code .multiselect-container.dropdown-menu { position: absolute; right: auto; width: auto; min-width: 100%; }
.btn-group.country-code .multiselect-container.dropdown-menu .input-group { margin: 0; padding: 0 10px; }
.btn-group.country-code .multiselect-container.dropdown-menu .input-group .multiselect-search {line-height: 28px; width: 100%; height: 30px;  margin: 0; padding-left: 20px; background: url('../images/icon_search_01_s@2x.png') left center no-repeat; background-size: 14px 14px; box-shadow: none; }
.btn-group.country-code .multiselect-container.dropdown-menu .input-group .multiselect-search:focus { background-image: url('../images/icon_search_01_s_focus@2x.png'); }
.btn-group.country-code .multiselect-container.dropdown-menu .input-group .input-group-btn {position: absolute; top: 50%; right: 0;  display: block; }
.btn-group.country-code .multiselect-container.dropdown-menu > li > a { padding: 0 8px; }
.btn-group.country-code .multiselect-container.dropdown-menu > li > a > label {font-size: .875rem; font-weight: 500; line-height: 30px; height: 30px;  padding: 0; white-space: nowrap; color: #000; }
.btn-group.country-code .multiselect-container.dropdown-menu > li > a > label em { display: inline-block; width: 70px; }
.btn-group.country-code .multiselect-container.dropdown-menu > li > a > label span {position: relative;  display: inline-block; min-width: 100px; }
.btn-group.country-code .multiselect-container.dropdown-menu > li > a > label span.selected_option {width: 100%;  text-align: center; }
.btn-group.country-code .multiselect-container.dropdown-menu > li.active > a { background-color: #e6e6e6; }
.btn-group.country-code .multiselect-container.dropdown-menu > li.placeholder { display: none; }

select[invalid] + .btn-group.country-code .multiselect { background: #fff; }

.multiselect-native-select select[invalid] + .btn-group .multiselect { box-shadow: inset 0 0 0 2px #ff2d47; }
