
/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */


/* common */
*	{margin:0; padding:0;}
html	{min-height:100%}

html body	{ height:100%}
html #wrapper	{height:100%}
body	{overflow-y:scroll; color:#2f2f2f;   font-family: "Noto Sans kr",Nanum Gothic,'나눔고딕'; 
	 line-height:18px; -webkit-text-size-adjust:none; word-spacing:0; letter-spacing:0;}

table, h1, h2, h3, h4, h5, dl, dt, dd, th, td, div, span, p, blockquote, form, fieldset, legend, em, address, input, select, textarea
 {margin:0; padding:0; font-family:"Noto Sans KR",Nanum Gothic,'나눔고딕'; line-height:28px;}

a		{color:#727376; text-decoration:none;}
a:hover	{text-decoration:none;/*color:#009ee2;*/}


img	{border:0 none;}
ol,	ul , li	{list-style:none;}

hr	{border:0;}
strong, table th	{font-weight:normal}

/*align*/
.fl_left	{float:left}
.fl_right	{float:right}
.fl_clear	{clear:both; height:0; font-size:0; line-height:0}
.fl_block	{position:relative;display:block;width:100%;}

.al_left	{text-align:left !important}
.al_center	{text-align:center}
.al_right	{text-align:right !important}
.al_top	{vertical-align:top}
.al_middle	{vertical-align:middle}
.al_bottom	{vertical-align:bottom}
.al_justify  {text-align:justify}

.hand	{cursor:pointer}
.overflow	{overflow:auto; overflow:hidden}
.none	{display:none !important}
.hide	{display:block; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; text-indent:-9999px;}



/* form */
fieldset	{border:0 none}
label	{}
input[type='text'],	input[type='password']	{margin:0; padding:2; border:1px solid #bbbbbb; color:#000000; line-height:26px; vertical-align:middle;}
input[type='text'],	input[type='password']	{-webkit-border-radius:1px; -webkit-appearance:none; outline:none} 
input[type='text']:disabled	{color:#bebebe}
input[type='text']:focus,	input[type='password']:focus	{border:1px solid #2b2b2b}
input[type=submit], iput[type=button]	{cursor:pointer}
::-webkit-input-placeholder	{padding:2px 0 0 0; color:#bebebe; line-height:17px; box-sizing:border-box; -moz-box-sizing:border-box;}
:-ms-input-placeholder {color:#bebebe;}
input[placeholder]	{line-height:1em}
.input_form 	{width:100%; height:23px; color:#666; border:1px solid #dddddd;padding:7px 10px 8px 8px;vertical-align:middle; 
/* -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); 
box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); display:block; */}


.form_style	{width:100%;height:34px; padding:6px 12px; border:1px solid #dddddd; background:#fff;color:#555; font-size:13px; border-radius:2px;
	 /* -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); 
box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); display:block; */}

.form_select	{border:1px solid #dddddd;background:#fff; color:#666;padding:12px 8px 10px 4px;font-size:12px;vertical-align:middle; }

.form_radio	{width:20px;height:20px; vertical-align:middle;padding:0 2px 2px 2px;}

.list_checkbox	{width:18px;height:18px; vertical-align:middle;margin:4px;}


.center{margin:0 auto 0 auto}

.wrap_center {width:100%;padding-bottom:30px;margin-top:40px;text-align:center;font-size:13px;vertical-align:middle;}

.info_txt	{padding:10px 0px 10px 0px;font-size:12px;line-height:19px;}

.exp_txt	{padding-top:20px;font-size:13px;}


#contents {padding:10px;}

#cont_center	{padding:10px;margin-top:20px;text-align:center;}

#sub_wrap {}

#sub_container {width:620px;margin:10px auto;}
#sub_contents {width:600px;padding:10px 0 10px 0px;}

#login_container	{width:400px;padding-top:20px;margin:10px auto;}
#login_contents {width:380px;float:left;padding-top:20px;padding:20px 0 30px 8px;}



h1	{width:100%; height:40px;background:#f2f2f2;}
h1 .BI	{background:url('../image/bespin_BI.png') 50px 15px no-repeat;padding-left:300px;}
h2 	{line-height:45px;font-size:25px;font-weight:500;}
.mTitle	{ color:#666666;font-size:16px;}

h3 	{padding:30px 0 10px 0; font-size:14px;font-weight:bold; }

.etc_menu {padding-top:6px;float:right;text-align:right;padding-right:30px;font-size:12px;font-weight:normal;color:#4f4f4f;}
.etc_menu a{color:#4f4f4f;}
.etc_menu a:hover{color:#009ee2;}


.btn-label_wrap	{display:block; text-align:center;vertical-align:middle;}
 
.btn-label_bgray	{padding:13px 30px 13px 30px;color:#fff;background:#a8b2bf;border-radius:4px;font-size:13px;font-weight:bold;padding-top:12px;text-align:center;vertical-align:middle;}
.btn-label_bgray a:hover	{text-decoration:none;color:#fff;}
.btn-label_bgray a:active	{text-decoration:none;}

.btn-label_gray	{padding:10px 30px 10px 30px;color:#fff;background:#959595;border-radius:4px; font-size:13px;font-weight:bold;text-align:center;vertical-align:middle;}
.btn-label_gray a:hover	{text-decoration:none;color:#fff;}
.btn-label_gray a:active	{text-decoration:none;}

.btn-label_blue	{padding:10px 28px 10px 28px; color:#fff;background:#009ee2;border-radius:4px;font-size:13px;font-weight:bold;text-align:center;vertical-align:middle;}
.btn-label_blue a:hover{text-decoration:none;color:#fff;}
.btn-label_blue a:active	{text-decoration:none;}

.btn-label_blue100	{width:100%;padding:6px 2px 6px 2px; color:#fff;background:#009ee2;border-radius:4px;font-size:13px;font-weight:bold;text-align:center;float:left;}
.btn-label_blue100 a:hover{text-decoration:none;color:#fff;}
.btn-label_blue100 a:active	{text-decoration:none;}


.btn-label_gray2	{width:49%;padding:6px 2px 6px 2px; color:#fff; background:#959595;border-radius:4px;font-size:13px;font-weight:bold;text-align:center;float:left;}
.btn-label_blue2	{width:49%;padding:6px 2px 6px 2px;margin-right:2px;color:#fff; background:#009ee2;border-radius:4px;font-size:13px;font-weight:bold;text-align:center;float:left;}

.btn-label_blue3	{padding:11px 30px 11px 30px;color:#009ee2;background:#fff;border-radius:4px;border:1px solid #009ee2;font-size:13px;font-weight:bold;text-align:center;}

/* OpSnow BTN */
.btn-label_green	{padding:11px 30px 11px 30px;color:#0acd7f;background:#fff;border-radius:4px;border:1px solid #0acd7f;font-size:13px;font-weight:bold;text-align:center;}
/* //OpSnow BTN */

.btn-label_wrap2	{width:100%;display:block;text-align:center;vertical-align:middle;}
.btn-label_wrap3	{margin-top:4px;padding:0px 10px 0 10px;text-align:center;float:left;vertical-align:middle;}


/* Aign & padding */

.pT10	{padding-top:10px;}
.pT16	{padding-top:16px;}
.pT20	{padding-top:20px;}
.pT30	{padding-top:30px;}
.pT50	{padding-top:50px;}
.pR10	{padding-right:10px;}
.pR20	{padding-right:20px;}
.pR30	{padding-right:30px;}
.pB4	{padding-bottom:4px;}
.pB10	{padding-bottom:10px;}
.pB12	{padding-bottom:12px;}
.pB20	{padding-bottom:20px;}
.pB30	{padding-bottom:30px;}
.pB50	{padding-bottom:50px;}


.pL4	{padding-left:4px;}
.pL10	{padding-left:10px;}
.pL20	{padding-left:20px;}
.pL30	{padding-left:30px;}
.mT10	{margin-top:10px;}
.mT20	{margin-top:20px;}
.mB10	{margin-bottom:10px;}
.mB20	{margin-bottom:20px;}

.w100 {width:100% !important;}


/* Bestpin membership part */

.service_cont	{padding:20px;}

.service_table	{padding:10px 0 10px 0; background:#fff; }

.partition_line {width:100%; padding:10px 0 20px 0; margin-bottom:30px;border-bottom:1px solid #828282;}

/* table_sevice01 */
.table_cont01 {width:100%; margin-top:10px; margin-bottom:20px; border:1px solid #d0d0d0;}
.table_cont01 th {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis;text-align:center; padding:8px 4px 8px 4px;background:#54cec7;color:#fff;font-weight:bold;
font-size:13px;line-height:18px;}
.table_cont01 td {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis;text-align:left; padding:6px 4px 4px 8px;font-size:12px;background:#fdfcfb; 
color:#3f3f3f; vertical-align:top;line-height:17px;}
.table_cont01 td.bL {border-left:1px solid #d0d0d0;}

.table_cont01 td ul li	{margin:0 0 12px 0px;}
.table_cont01 td ul li.td_bullet { width:86%; background:url('../image/bullet.png') 1px 6px no-repeat; padding-left:14px; line-height:17px;}
.table_cont01 td.center {text-align:center;}

.table_cont01 td.sel_td	{padding-top:12px; background:#f5f5f5;}
.table_cont01 td.cursor_td	{ cursor:pointer;}

/* table_sevice02 */
.table_cont02 {width:100%; margin-top:10px; margin-bottom:20px; border:1px solid #d0d0d0;}
.table_cont02 th {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis;text-align:center;padding:8px 4px 8px 4px;background:#363636; 
color:#fff; font-weight:bold; font-size:13px;line-height:18px;}
.table_cont02 td {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis;text-align:left;padding:6px 4px 4px 8px; font-size:12px;background:#fdfcfb; 
color:#3f3f3f;line-height:17px;}
.table_cont02 td.txt_top{vertical-align:top;}
.table_cont02 td.center {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis; text-align:center;background:#f5f5f5; }
.table_cont02 td.sel_td2	{padding:10px; background:#cbcbcb;line-height:17px;}
.table_cont02 td.txt_right {padding-right:8px; text-align:right; background:#f5f5f5;line-height:17px;}

.table_cont02 td ul li	{margin:0 0 12px 0px;}
.table_cont02 td ul li.td_bullet { width:86%; background:url('../image/bullet.png') 1px 6px no-repeat; padding-left:14px; line-height:17px;}

.payment	{padding:10px 0 10px 5px; text-align:left;font-size:12px;}
.payment li{ float:left; padding-right:30px;padding-bottom:12px;}

h4 {font-size:13px;font-weight:normal; }

.form_textarea	{width:92%;height:160px; font-size:12px; line-height:17px;border:1px solid #d0d0d0; padding:20px; background:#f2f2f2; }

/* reg_table */
.reg_table {width:100%; margin-top:10px; margin-bottom:10px; border:1px solid #d0d0d0;}
.reg_table th {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis; text-align:left;padding:4px 4px 4px 10px;background:#dddddd; 
color:#333; font-size:12px;font-weight:bold;line-height:18px;}
.reg_table td {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis; text-align:left;padding:6px 4px 4px 8px; font-size:12px; 
color:#3f3f3f;line-height:17px;}
.reg_table td.center {word-break:keep-all; word-wrap:break-word;text-overflow:ellipsis; text-align:center;}
.reg_table td.sel_td	{padding-top:10px 4px 4px 8px;padding-top:10px; padding-bottom:10px;background:#f6f5f1;}


.tx_red	{font-size:12px;color:#f80000;}
.bullet	{font-size:5pt;color:#f80000; vertical-align:top;padding:20px 6px;}
.ft_14	{font-size:12px;font-weight:normal;}
.ft_15	{font-size:13px;font-weight:400;}

.txt_account	{font-size:13px; text-align:center; padding-top:50px;line-height:17px;}


/* footer */
#footer	{ height:116px; background:#212121; margin-top:40px;}
#footer_wrap	{width:600px; margin:10px auto;}
#footer_contents	{width:580px;float:left; padding:14px 20px 20px 0px;}
#footer_contents	.black_area{ font-size:12px; text-align:left; color:#bdbdbd;}


