@charset "utf-8";

body {
    /* margin-left:auto;
    margin-right: auto; */
    margin: 0px;
    padding:0px;
    background-color: white;
    font-family:나눔고딕;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
a {
    color:#111111;
    text-decoration:none
}
.header{
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: #D4C1A1;
    min-width: 1200px;
    /* position: relative; */
    top: 0;
    /* left: 0; */
    /* right: 0; */
    height: 65px;
    display: flex;
    /* border-bottom-style: solid;
    border-bottom-color: #9B9B9B;
    border-bottom-width: thin; */
    text-align: center;
    padding: 8px;
    color: #111111;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .logo {
  display: inline-block;
  width:200px;
  height: 50px;
  margin-top: 20px;
  float: middle;
}
.topmenu {
  position: absolute;
  top: 12px;
  right: -3px;
}

.topmenu a{
  position: relative;
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
}

.topmenu a:first-child::before{
  content: '';
}

.topmenu a::before {
  position: absolute;
  top: 2px;
  left: -15px;
  content: '|';
  display: inline-block;
  width: 1px;
  height: 10px;
}

.header nav {
    list-style-type: none;
    text-align: right;
    min-width: 800px;
    margin-top: 15px;
    padding: 0;
}
.header nav span {
    /* justify-content: flex-end; */
    display:inline-block;
    font-size: 15px;
    padding: 20px;
}
.left{
    float: left;
    background-color: #D4C1A1;
    margin-left: 40px;
    margin-top:15px;
}
.banner{
    background-image: url("../img/oria-hotel-4636405_1280.jpg");
    background-size: cover;
    margin-top: auto;
    min-width: 1200px;
    height: 700px;
    padding: 8px;
}
.tit{
  padding: 22px;
  text-align: center;
  height: 50px;
}
.mini_title {
    padding: 10px 0;
}
.m1{
  height: 50px;
  width:200px;
}
.m2{
  height: 50px;
}
.m3{
  height: 50px;
}
.m4{
  height: 50px;
}
h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}
h4 {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}
.contain{
    width: 1200px;
    margin-top:30px;
    min-height: 500px;
    background-color: white;
    font-size: 18px;
    color: #333333
}
.index_contents{
  margin-left: 45px;
}
.contents{
  float:right;
  margin-right:-120px;
  width:1000px;
  height:1200px;
}
.finish {
   clear: both;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding: 50px;
    background-color: white;
    font-size: 18px;
    color: #333333
}
.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow:hidden;
}
.intro{
    padding: 20px;
    width: 650px;
    height: 300px;
    margin-top: 20px;
    border: 3pt solid  #D4C1A1;
}
.intro_left{
    float: left;
    font-size: 17px;
}
.intro_right{
    float: right;
    font-size: 17px;
}
.login-form {
  position: absolute;
  background-color: #d2d2d4;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-field {
  border: none;
  width: 90%;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: -12px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.submit-btn {
  border: none;
  width: 90%;
  background-color: #D4C1A1;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
}
.links {
  text-align: center;
}
.links a {
  justify-content: space-between;
  font-size: 12px;
  color: #515A5A;
}
select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: 나눔고딕;
}

.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.input {
    font-family: 나눔고딕;;
}
.box.int_id {
    /* padding-right: 110px; */
    /* padding: 5px 5px 5px; */
    display: inline-flex;
}
.box.int_pass {
    padding-right: 40px;
}
.box.int_pass_check {
    padding-right: 40px;
}
 .login-form {
    position: absolute;
    background-color: #d2d2d4;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .text-field {
    border: none;
    width: 90%;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: -12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
 .submit-btn {
    border: none;
    width: 90%;
    background-color: #D4C1A1;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
}
.btn_area {
    margin: 30px 0 91px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #333333;
    font-size: 20px;
    font-weight: 400;
    font-family: 나눔고딕;
}
.btn_zip {
    width: 30%;
    padding: 10px 14px 10px 14px;
    margin-top: 4px;
    float: right;
    border:1px solid #ccc;
    /* cursor: pointer; */
    color: #fff;
    background-color: #333333;
    font-size: 15px;
    font-weight: 400;
}
.btn_idcheck {
    width: 20%;
    /* padding: 10px 14px 10px 14px; */
    float: right;
    /* border:1px solid #ccc; */
    /* cursor: pointer; */
    color: #fff;
    background-color: #333333;
    font-size: 15px;
    font-weight: 400;
}

 .links {
    text-align: center;
}
#bir_wrap {
    display: table;
    width: 100%;
}
#bir_yy {
    display: table-cell;
    width: 147px;
}
#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}
#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px;
}
.col_one_third { width: 30.63%; }
.col_two_third { width: 65.33%; }
.col_last {
    margin-right: 0 !important;
    clear: right;
}
.col_full {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    clear: both;
    float: none;
    margin-right: 0;
}
.col_one_third,
.col_two_third{
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}

form .col_one_third,
form .col_two_third {
    margin-bottom: 25px;
}
textarea {
    resize: vertical;
    width: 100%;
    border:1px solid #ccc;
    border-color:#dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;
}
 .links a {
    justify-content: space-between;
    font-size: 12px;
    color: #515A5A;
}
.d_form {
    margin: 5px 0;
    font-size: 15px;
    padding: 10px 14px 10px 14px;
    border:1px solid #ccc;
    border-color:#dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;
    box-sizing: border-box;
    /* box-shadow:inset .1em .1em .15em rgba(0,0,0,.1); */
    vertical-align:middle;
    line-height:1.25em;
    outline:0;
  }

  .d_form.std {
      width:69%
  }

  .d_form.mini {
      width:49.5%
  }

  .d_form.large {
      width:100%
  }

  .d_btn {
      display:inline-block;
      padding:.5em 1em;
      margin:.4em .15em;
      border:1px solid #ccc;
      border-color:#dbdbdb #d2d2d2 #b2b2b2 #d2d2d3;
      cursor:pointer;
      color:#464646;
      border-radius:.2em;
      vertical-align:middle;
      font-size:1em;
      line-height:1.25em;
      background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f2f2f2));
      background-image:-moz-linear-gradient(top,#fff,#f2f2f2);
      background-image:-o-gradient(top,#fff,#f2f2f2);
      background-image:linear-gradient(top,#fff,#f2f2f2)
  }
  #gaeyo{
    padding-top: 20px;
    border-bottom: 3pt solid  #D4C1A1;
  }
  
  .myButton {
	   background-color:#D4C1A1;
	   border-radius:3px;
	   border:1px solid #D4C1A1;
	   display:inline-block;
	   cursor:pointer;
	   color:#ffffff;
	   font-family:Arial;
	   font-size:15px;
     font-weight:bold;
     padding:8px 24px;
     text-decoration:none;
     text-align: center;
     justify-content:center;
     align-items:center;
     margin-left: 350px;
   }
   .myButton:hover {
     background-color:#dbb790;
  }
  .myButton:active {
    position:relative;
	  top:1px;
  }
  .roomtb {
    width: 800px;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: middle;
    line-height: 1.5;
    border-top: 1px solid #D4C1A1;
    margin : 20px 10px;
  }
  .roomtb th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #D4C1A1;
  }
  .roomtb td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #D4C1A1;
}
  .intbox {
    border-bottom: 1px solid #E8E4DE;
    margin: 25px 0 50px 0;
    overflow: hidden;
    padding: 0;
    color: #101010;
    display: block;
  }
  .intbox .lbox {
    float: left;
    margin-right: 30px;
    width: 400px;
    height: 70px;
    margin-bottom: 50px;
    padding: 0;
    color: #101010;
  }
  .intbox .rbox {
    float: left;
    width: 400px;
    margin-bottom :50px;
    padding: 0;

  }
  .intbox .lbox .topexp{
    float: left;
    width: 250px;
  }
  .intbox .rbox .topxep{
    float: left;
    width : 250px;
  }