@charset "utf-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    /* margin-left:auto;
    margin-right: auto; */
    margin: 0px;
    padding:0px;
    background-color: #fbfcf5;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
a {
    color:#111111;
    text-decoration:none
}
.left{
    float: left;
    background-color:#D4C1A1;
    margin-left:40px;
    margin-top:15px;
}
.banner{
    width:240px;
    height:400px;
    margin-left:50px;
    background-color: #D4C1A1;
}
.tit{
    padding: 22px;
    text-align: center;
    height: 50px;
}
.mini_title {
    padding: 10px 0;
}
.m1{
    height: 50px;
    width:200px;
}
.m2{
    height: 50px;
}
.m3{
    height: 50px;
}
.m4{
    height: 50px;
}
.m5{
	height: 50px;
}
h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}
h4 {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

#gaeyo{
    padding-top: 20px;
    border-bottom: 3pt solid  #D4C1A1;
}
.roomtb {
    width: 800px;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #D4C1A1;
    margin : 20px 10px;
}
.intbox {
    border-bottom: 1px solid #E8E4DE;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: #101010;
    display: block;
}
.intbox .lbox {
    float: left;
    margin-right: 160px;
    width: 400px;
    height: 350px;
    margin-bottom: 50px;
    padding: 0;
    color: #101010;
}
.intbox .rbox {
    float: left;
    width: 370px;
    height: 400px;
    margin-bottom :50px;
    padding: 0;

}
.intbox .lbox .topexp{
    float: left;
    width: 350px;
}
.intbox .rbox .topxep{
    float: left;
    width : 280px;
}
.contain{
    width: 1500px;
    margin-top:30px;
    min-height: 500px;
    background-color: #fbfcf5;
    font-size: 18px;
    color: #333333
}
.contents{
  float:left;
  margin-left:40px;
  width:1000px;
  min-height:1200px;
}