@charset "utf-8";

body {
    margin-left:auto;
    margin-right: auto;
    padding:0px;
    background-color: white;
    font-family:나눔고딕;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


a {
    color:#111111;
    text-decoration:none
}
.header{
    /* margin-left:auto; */
    /* margin-right: auto; */
    background-color: #D4C1A1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    padding: 8px;
    color: #111111;
    font-size: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header nav span {
    display:inline-block;
    font-size: 15px;
    padding: 20px;
}
.left{
    float: left;
}
.banner{
    width:240px;
    height:400px;
    margin-left:50px;
    background-color: #D4C1A1;
}
.tit{
  padding: 22px;
  text-align: center;
  height: 50px;
}
.m1{
  height: 50px;
  width:200px;
}
.m2{
  height: 50px;
}
.contain{
    width: 1200px;
    margin-top:100px;
    min-height: 500px;
    background-color: white;
    font-size: 18px;
    color: #333333
}
.contents{
  float:right;
  margin-right:-120px;
  width:960px;
  height:1200px;
  display: table-cell;
}
table.suite {
    width: 800px;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: middle;
    line-height: 1.5;
    border-top: 1px solid #D4C1A1;
    margin : 20px 10px;
}
table.suite th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #D4C1A1;
}
table.suite td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #D4C1A1;
}
.finish {
   clear: both;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding: 50px;
    background-color: white;
    font-size: 18px;
    color: #333333
}
.intro{
    padding: 20px;
    width: 650px;
    height: 300px;
    margin-top: 20px;
    border: 3pt solid  #D4C1A1;
}
.intro_left{
    float: left;
    font-size: 17px;
}
.intro_right{
    float: right;
    font-size: 17px;
}
